@charset "utf-8";
/* CSS Document */		
		* {
  box-sizing: border-box;
}
		body{
			margin:0;
		}
	/*表头*/
		.header{
			padding: 60px;
			text-align: center;
			background-color: #2980b9;
			color:white;	
			font-size:20px;
		}
	/*导航栏*/
		.navbar{
			display: flex;
			background-color: #3498db;
		}
	/*导航链接*/
		.navbar a{
			color: aliceblue;
			padding:20px 25px;
			font-size:25px;
			text-align: center;
			text-decoration: none
		}
	/*被点击*/
		.navbar a:hover{
			background-color: orangered;
			color:black;
		}
		
		.row{
			display: flex;
			flex-wrap: wrap;
			font-size: 20px;
		}
		.side{
			padding: 20px;
			flex:30%;
			background-color: #1abc9c;
			padding: 50px 20px;
			font-size: 25px;
			line-height: 50px;
			text-align: left;
		}
		
	
		.main{
			flex: 70%;
			font-size: 25px;
			line-height: 50px;
			background-color:#f1c40f;
			padding: 50px 20px;
		}

		.tail{
			display: flex;
			background-color: #86DF00;
			justify-content:center;
			padding: 50px;
		}
		
