@charset "utf-8";
/* CSS Document */
.comp{
	font-family:'黑体';
	text-indent: 3em;
	font-size: 25px;
	color:aliceblue;
	background-color:#ECEDBA;
	width: 80%;
	background-image: url("pics/backg.jpg");
	margin: auto;
}
.box{
	
	line-height:150%;
  	border-radius: 25px;
    font-size: 25px;
    letter-spacing: 110%;
    align-content: center;
    background-color:rgba(134,134,134,0.78);
	padding: 20px;
	margin-bottom: 20px;
	
}
.box li{
	font-size: 30px;
}
.box p:first-letter{
	color:indianred;
	font-size: 300%;
}
.box img{
    margin-top: -317px;
    margin-right: -175px;
    margin-left: -970px;
    margin-bottom: -579px;
}
.box h2{
	font-size:50px;
}
